<h4>Storage</h4>
<div class="container">
  <div class="card">
    <div class="card-header">
      Upload de Arquivos
    </div>
    <div class="card-body">
      <h5 class="card-title">Selecione um arquivo:</h5>
      <input type="file" (change)="upload($event)" />
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div><br>
</div>
