<nav class="navbar navbar-dark bg-dark">
  <img title="Angular" width="75" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <img title="Firebase" width="65" alt="Firebase Logo" src="https://seeklogo.com/images/F/firebase-logo-402F407EE0-seeklogo.com.png">
<a class="navbar-brand"><img title="Bootstrap" width="75" alt="Bootstrap Logo" src="https://cdn-images-1.medium.com/max/1024/1*9HanDsRU11ZMsgDGJwN96w.png"></a>
</nav>
<br>
<div class="container">
<!-- AUTH -->
  <app-auth></app-auth>
<!-- DATABASE -->
  <app-products></app-products>
<!-- STORAGE -->
  <app-storage></app-storage>
</div>